node_modules
dist
.env
.DS_Store
.vscode
.idea
npm-debug.log
yarn-error.log
coverage
*.log
*.tmp
*.bak
*.swp
/build
/out
/.next
/.nuxt
/.cache
/public/build
/.parcel-cache
/.turbo
/.pnp.js
/.pnp.cjs
/.expo
/.firebase
/.vercel
/.netlify